div.svelte-zc20w6 ul[data-type='taskList'] {
	list-style: none;
	padding: 0;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
}
div.svelte-zc20w6 ul[data-type='taskList'] li > label input[type='checkbox'] {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	transition: 0.12s all ease-in-out;
	margin: 0;
	cursor: pointer;
	width: 1.2em;
	height: 1.2em;
	position: relative;
	top: 5px;
	border: 1px solid hsl(var(--border) / 1);
	display: grid;
	place-content: center;
}
div.svelte-zc20w6 ul[data-type='taskList'] li > label input[type='checkbox']:hover {
	background-color: hsl(var(--accent) / 1);
	border: 1px solid hsl(var(--foreground) / 0.6);
}
div.svelte-zc20w6 ul[data-type='taskList'] li > label input[type='checkbox']:before {
	content: '';
	width: 0.65em;
	height: 0.65em;
	transform: scale(0);
	transition: 0.12s transform ease-in-out;
	box-shadow: inset 1em 1em;
	transform-origin: center;
	clip-path: polygon(10% 44%, 0 65%, 40% 100%, 100% 10%, 80% 0%, 43% 62%);
}
div.svelte-zc20w6 ul[data-type='taskList'] li > label input[type='checkbox']:checked:before {
	transform: scale(1);
}
div.svelte-zc20w6 ul[data-type='taskList'] li[data-checked='true'] > div > p {
	color: hsl(var(--foreground) / 0.6);
	text-decoration: line-through;
	text-decoration-thickness: 1px;
}
div.svelte-zc20w6 ul[data-type='taskList'] li > label {
	margin-right: 0.2rem;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
}
div.svelte-zc20w6 .search-result {
	background-color: hsl(var(--muted));
}
div.svelte-zc20w6 .search-result-current {
	background-color: #f8a01e80;
}
